* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 0;
}

.container2 {
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 0;
}

.container3 {
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 0;
}

.container4 {
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 0;
}

.container5 {
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px 0;
}
.container6 {
  margin: 0 auto;
  max-width: 1440px;
  height: 497px;
  padding: 20px 0;
}
